.kiwi--app {

    .header {
    	background-color: $green;
    	color: $white;

    	a {
    		color: $white;
    	}

        .header__app,
        .header__doc {
            height: $height--header;
            position: absolute;
        }

        .header__app {
            width: $small;
        }
        .header__doc {
            left: $small;
            right: $base*6;

            .input {
                background-color: transparent;
                border: 0;
                border-bottom: dashed 1px $white;
                color: $white;
                font-size: 18px;
                margin: $base/2;
                margin-left: $base*3;
                padding: 0;
                width: $med;
            }
            .doc__versions {
            }
        }
    }

    .container {
    	background-color: $grey--light;

    	.document {
    		@include box-shadow(0,0,6px,$grey--light,$inset:false);
    		background-color: $white;
            margin: -3px $base 0 $small;
            padding: $base*3;
    	}
    }
}