.document {
	textarea {
		border: 0;
		font-size: 18px;
		line-height: 30px;
		margin: 0;
		min-height: 800px;
		padding: 0;
		width: $full;

		&:focus {
			outline: 0;
		}
		@include placeholder {
        	color: $grey;
    	}
	}
	h1 {
		font-size: 36px;
		line-height: 36px;
		margin-bottom: 30px;
		margin-left: -2.5px; // Correct for shift from size variance
	}

	p {
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 30px;
	}
}